#NavBar{
    background-color: #e7a977;
    width: 100%;
}
.lista{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-left: 150px;
}
.formulario{
    margin-left: 1000px;
}

li a{
    text-decoration: none;
    color: black;
}
