#NavBar{
    background-color: #e7a977;
    width: 100%;
}
.lista{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-left: 80px;
}

li a{
    text-decoration: none;
    color: black;
}
.menu{
    padding: .5rem 1rem;
    text-decoration: none;
}

h3{
    color: black;
    margin-left: 30px;
    font-size: 20px;
}
.arriba{
    display: flex;
    justify-content: center;
    background-color: #FFEFD5;
    width: 100%;
}
.up{
    width: 100%;
}
h1{
    font-size: 30px;
}