h2{
    display: flex;
    justify-content: center;
}
.centrar{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.centrado{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 5px;
}
.contador{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 20px;
}
